<launch>

	<node pkg="ur_arm_left" type="left_node" name="ur_arm_left" output="screen">
		<!--<param name="homing_joint_pos1" type="double" value="0" />
		<param name="homing_joint_pos2" type="double" value="-1.57" />
		<param name="homing_joint_pos3" type="double" value="0" />
		<param name="homing_joint_pos4" type="double" value="-1.57" />
		<param name="homing_joint_pos5" type="double" value="0" />
		<param name="homing_joint_pos6" type="double" value="0" />-->
  	</node>

</launch>
